.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f1f1f1;
  width: 200px;
  height: 200px;
  margin: 20px;
  transition: 0.5s ease-in-out;
}

.offer-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 5px;
}

.dot-parent {
  position: relative;
}

.dot {
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: #e07a64;
  left: -11px;
  top: -11px;
  border-radius: 50%;
}
